/* ----- Couleurs ----- */
$white: #FFFFFF;
$lighter-grey: #F7F7F7;
$light-grey: #D1D1D1;
$grey: #707070;
$black: #434343;
$dark: #222222;
$text: #363636;

$yellow: #FEEEB5;
$khaki: #C3A995;
$beaver: #AB947E;
$umber: #6F5E53;
$beaver--dark: #8A7968;
$rose-ebony: #593D3B;

/* ----- Tailles écran breakpoints ----- */
$breakpoint--tablet: 980px;
$breakpoint--phone: 767px;
$breakpoint--small-phone: 479px;