@import "abstracts/variables";

/* General */
html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  font-family: var(--font-playfair-display);
}

main {
}

::selection {
  background-color: $yellow;
  color: $black;
}

hr {
  border-color: $light-grey;
  border-width: 1px 0 0 0;
  margin-bottom: 3vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-abril-fatface);
}

// Dark mode
.dark .icon svg path {
  fill: $white;
}

.custom-pointer {
  position: absolute;
  color: white;
  padding: 4px;
  border-radius: 4px;
  pointer-events: none;
}

.fullscreen--svg {
  height: 100vh;
  width: 100vw;

  & svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Colors
.olive {
  background-color: #424928;
}

.border-olive {
  border-color: #424928;
  border-style: solid;
  border-width: 1px;
}

/* ----- Responsive ----- */
/* Tablet */
@media (max-width: $breakpoint--tablet) {}

/* Phone */
@media (max-width: $breakpoint--phone) {}