@import "abstracts/variables";

/* General */
html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

main {
  // font-weight: 400;
}

::selection {
  background-color: $yellow;
  color: $black;
}

body {
  background-color: $white;
  font-family: var(--font-playfair-display);
}

hr {
  border-color: $light-grey;
  border-width: 1px 0 0 0;
  margin-bottom: 3vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-abril-fatface);
}

// Dark mode
.dark svg path {
  fill: $white;
}

.custom-pointer {
  position: absolute;
  background-color: red;
  color: white;
  padding: 4px;
  border-radius: 4px;
  pointer-events: none;
}

/* ----- Responsive ----- */
/* Tablet */
@media (max-width: $breakpoint--tablet) {}

/* Phone */
@media (max-width: $breakpoint--phone) {}