@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #fff; */
  background-color: #FEF1DB;
  color: #111;
  transition: background-color 300ms;
}

.dark body {
  background-color: #111;
  color: #FEF1DB;
}